<!-- Formulário de Cadastro de Produtos -->
<div class="row col">
  <form class="row g-4" [formGroup]="productform">
    <!-- Nome * -->
    <div class="col-lg-4">
      <label for="productName" class="form-label">Nome do Produto</label>
      <input
        class="form-control"
        id="productName"
        formControlName="name"
        maxlength="50"
      />
      <div class="form-text">Máximo de 50 caractéres.</div>
    </div>

    <!-- Unidade de Medida * -->
    <div class="col-md-6 col-lg-4">
      <label for="unit" class="form-label">Unidade de Medida</label>
      <select class="form-select" id="unit" formControlName="unit">
        <option value="1"selected>Litros</option>
        <option value="2">Quilograma</option>
        <option value="3">Unidade</option>
      </select>
    </div>

    <!-- Quantidade * -->
    <div class="col-md-6 col-lg-4">
      <label for="quantity" class="form-label">Quantidade</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="quantity"
          formControlName="quantity"
        />
        <span class="input-group-text">kg</span>
      </div>
    </div>

    <!-- Preço * -->
    <div class="col-md-6 col-lg-4">
      <label for="price" class="form-label">Preço</label>
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <input class="form-control" id="price" formControlName="price" />
      </div>
    </div>

    <!-- Data de Validade -->
    <div class="col-md-6 col-lg-4">
      <label for="validity" class="form-label">Data de Validade</label>
      <input
        type="date"
        class="form-control"
        id="validity"
        formControlName="validity"
      />
    </div>

    <!-- Data de Fabricação * -->
    <div class="col-md-6 col-lg-4">
      <label for="manufacture" class="form-label">Data de Fabricação</label>
      <input
        type="date"
        class="form-control"
        id="manufacture"
        formControlName="manufacture"
      />
    </div>

    <!-- Perecível * -->
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="perishable"
          formControlName="perishable"
          value="true"
        />
        <label class="form-check-label">Produto Perecível?</label>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="submitProduct()" [disabled]="this.productform.invalid">
        Cadastrar <i class="fa-solid fa-caret-right"></i>
      </button>
      <button class="btn btn-danger" routerLink="/">
        Cancelar <i class="fa-solid fa-warning"></i>
      </button>
    </div>
  </form>
</div>
