<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Unidade de Medida</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Data de Validade</th>
        <th scope="col">Data de Fabricação</th>
        <th scope="col">Perecível?</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of prods">
        <th scope="row">{{ prod.id }}</th>
        <td>{{ prod.name }}</td>
        <td>{{ prod.unity }}</td>
        <td>{{ prod.quantity }}</td>
        <td>{{ prod.price }}</td>
        <td>{{ prod.validity | date:"dd/MM/yyyy" }}</td>
        <td>{{ prod.manufacture | date:"dd/MM/yyyy" }}</td>
        <td>{{ prod.perishable }}</td>
        <td>
          <a [routerLink]="['/product-edit', prod.id]" class="btn btn-primary">Editar</a>
          <!-- <button (click)="deleteProduct(prod.id)" class="btn btn-danger">Deletar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
