<!-- Formulário de de Produtos -->
<div class="row col">
  <form
    class="row g-4"
    (ngSubmit)="submit()"
    [formGroup]="productForm"
    #formDir="ngForm"
  >
    <input type="hidden" formControlName="id" />
    <!-- Nome * -->
    <div class="col-lg-4">
      <label for="productName" class="form-label">Nome do Produto *</label>
      <input
        class="form-control"
        id="productName"
        formControlName="name"
        required
        mask="S*"
      />

      <!-- Error message -->
      <div
        class="form-text"
        *ngIf="name.errors?.['required'] && formDir.submitted"
        class="validation-error"
      >
        <span>O Nome é obrigatório!</span>
      </div>
      <div
        class="form-text"
        *ngIf="name.errors?.['maxlength'] && formDir.submitted"
        class="validation-error"
      >
        <span>Permitido somente 50 caractéres!</span>
      </div>
    </div>

    <!-- Unidade de Medida * -->
    <div class="col-md-6 col-lg-4">
      <label for="unit" class="form-label">Unidade de Medida *</label>
      <select
        class="form-select"
        id="unit"
        formControlName="unit"
        (change)="quantityMask()"
      >
        <option value="lt">Litros</option>
        <option value="kg">Quilograma</option>
        <option value="un">Unidade</option>
      </select>
    </div>

    <!-- Quantidade * -->
    <div class="col-md-6 col-lg-4">
      <label for="quantity" class="form-label">Quantidade *</label>
      <div class="input-group">
        <!-- type="number" -->
        <input
          class="form-control"
          id="quantity"
          formControlName="quantity"
          thousandSeparator="."
          [mask]="quantityMask()"
          required
        />
        <span class="input-group-text">{{ this.productForm.value.unit }}</span>
      </div>

      <!-- Error message -->
      <div
        class="form-text"
        *ngIf="quantity.errors?.['required'] && formDir.submitted"
        class="validation-error"
      >
        <span>A quantidade é obrigatória!</span>
      </div>
      <div
        class="form-text"
        *ngIf="quantity.errors?.['min']"
        class="validation-error"
      >
        <span>Insira um valor maior!</span>
      </div>
    </div>

    <!-- Preço * -->
    <div class="col-md-6 col-lg-4">
      <label for="price" class="form-label">Preço *</label>
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <input
          class="form-control"
          id="price"
          formControlName="price"
          currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',' }"
          required
        />
      </div>
      <!-- Error message -->
      <div
        class="form-text"
        *ngIf="price.errors?.['required'] && formDir.submitted"
        class="validation-error"
      >
        <span>O Preço é obrigatório!</span>
      </div>
      <div
        class="form-text"
        *ngIf="price.errors?.['min']"
        class="validation-error"
      >
        <span>Insira um valor maior!</span>
      </div>
    </div>

    <!-- Data de Validade -->
    <div class="col-md-6 col-lg-4">
      <label for="expiration_date" class="form-label">Data de Validade</label>
      <input
        type="date"
        class="form-control"
        id="expiration_date"
        formControlName="expiration_date"
        (change)="expiredProduct()"
      />

      <!-- Error message -->
      <div
        class="form-text"
        *ngIf="expiration_date.invalid && formDir.submitted"
        class="validation-error"
      >
        <span>Insira a data de validade</span>
      </div>
      <div class="form-text" *ngIf="expiredProduct()" class="validation-error">
        <span>Produto vencido!</span>
      </div>
    </div>

    <!-- Data de Fabricação * -->
    <div class="col-md-6 col-lg-4">
      <label for="manufacturing_date" class="form-label"
        >Data de Fabricação *</label
      >
      <input
        type="date"
        class="form-control"
        id="manufacturing_date"
        formControlName="manufacturing_date"
        required
      />

      <!-- Error message -->
      <div
        class="form-text"
        *ngIf="manufacturing_date.invalid && formDir.submitted"
        class="validation-error"
      >
        <span>A data de fabricação é obrigatória</span>
      </div>
    </div>

    <!-- Perecível * -->
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="perishable"
          formControlName="perishable"
          value="false"
          (change)="isPerishable()"
        />
        <label class="form-check-label">Produto Perecível?</label>
      </div>
    </div>

    <div class="col-12">
      <!-- <button type="submit" class="btn btn-primary" (click)="submitProduct()" [disabled]="this.productForm.invalid"> -->
      <button type="submit" class="btn btn-primary me-3">
        {{ btnText }} <i class="fa-solid fa-caret-right"></i>
      </button>
      <button class="btn btn-danger" routerLink="/">
        Cancelar <i class="fa-solid fa-warning"></i>
      </button>
    </div>
  </form>
</div>
